main {
  background-image: url(../assets/images/music-player-background.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
}

main .audio-player-container {
  text-align: center;
  width: 100%;

  position: absolute;
  bottom: 1rem;
}
