nav {
  align-items: center;
  background-color: var(--main-color);
  color: var(--white);
  display: flex;
  justify-content: center;
  height: var(--navbar-height);

  position: absolute;
  bottom: 0;
  width: 100%;
}

nav .nav-item {
  cursor: pointer;
}

nav .nav-item:active {
  color: gray;
}
