.song-list {
  width: 300px;
}

.song-list .song {
  color: var(--white);

  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
}

.song-list .song figure img {
  width: 100%;
}

.song-list .song .icon {
  justify-self: end;
}
